Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
psycopg2-binary==2.9.9
bcrypt==4.1.2
gunicorn==21.2.0
requests==2.31.0
python-escpos==3.0a9
reportlab==4.0.7
WTForms==3.1.1
SQLAlchemy==2.0.23
openpyxl==3.1.2
xlsxwriter==3.1.9
flask-limiter==3.5.0